
<script>
    function firm(whole) {  
        console.log(whole);
        if(confirm('涉及用户数据，确定删除吗？')){
            card_unique_id = whole.split('+')[0];
            packageName = whole.split('+')[1];
            SubPackageName = whole.split('+')[2];
            var theUrl = "/admin/index/delete?card_unique_id="+card_unique_id+"?packageName"+packageName+'?SubPackageName'+SubPackageName;

            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function() { 
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                    var status = xmlHttp.responseText;
                    if( status.indexOf('success') != -1 ){
                        alert('真的删除成功了');
                        window.location.href='/admin/index'
                    }
                    else{
                        alert('删除失败了');
                    }
            }
            xmlHttp.open("GET", theUrl, true); // true for asynchronous 
            xmlHttp.send(null);

        }else{

        }  
    }  
</script>

<div style="margin: 0px 30px;">

<h1>后台管理界面</h1>

<a href="/admin/index/new">新增卡片</a>

<h2>卡片搜索</h2>

<form ref="searchForm" id="searchForm" method="get" action="/admin/index/search">
    <input type='text' name='searchKey' placeholder='输入一个关键词' style="width: 80%;" required/>
    <br /><br />
    <input type='submit' value='搜索'>
</form>

<br />
<br />
<br />

<form ref="searchFormPackage" id="searchFormPackage" method="get" action="/admin/index/searchPackage">
    <input type='text' name='searchKey' placeholder='输入卡包名称，搜索卡包内所有卡' style="width: 80%;" required/>
    <br /><br />
    <input type='submit' value='搜索'>
</form>

<br />
<br />
<br />

<form ref="searchFormPackageCardNumber" id="searchFormPackageCardNumber" method="get" action="/admin/index/searchFormPackageCardNumber">
    <input type='text' name='search_key_1' placeholder='输入卡包名称' style="width: 80%;" />
    <br /><br />
    <input type='text' name='search_key_2' placeholder='输入子卡包名称' style="width: 80%;" />
    <br /><br />
    <input type='submit' value='获取卡包内卡片数量'>
</form>

{{cardsNumber}}

<br />
<br />
<br />

<h2>卡片列表</h2>

<table>
  <p>注意，该表格中的正确项一栏</p>
  <p>真题表述为 1错2对</p>
  <p>知识点卡片为 1蓝对2红对</p>
  <tr>
    <th>集合名</th>
    <th>卡包名</th>
    <th>正确项</th>
    <th>真题题干</th>
    <th>解析</th>
    <th>蓝色混淆项</th>
    <th>红色混淆项</th>
    <th>知识点卡片，混淆项前文字</th>
    <th>知识点卡片，混淆项后文字</th>
    <th>真题年份</th>
    <th>真题卷号</th>
    <th>真题题号</th>
    <th>更改</th>
    <th>删除</th>
  </tr>
  {{#each cards}}
  <tr>
    <td>{{packageName}}</td>
    <td>{{SubPackageName}}</td>  
    <td>{{rightItem}}</td>
    <td>{{expression}}</td>
    <td>{{analysis}}</td>    
    <td>{{blueItem}}</td>
    <td>{{redItem}}</td>
    <td>{{firstLine}}</td>
    <td>{{lastLine}}</td>
    <td>{{yearNumber}}</td>
    <td>{{reelNumber}}</td>
    <td>{{questionNumber}}</td>    
    <td><a href="/admin/index/update?card_unique_id={{card_unique_id}}?packageName={{packageName}}?SubPackageName={{SubPackageName}}">更改</a></td>
    <td><input type="button" style="color: red" id="{{card_unique_id}}+{{packageName}}+{{SubPackageName}}" onclick="firm(this.id)" value="删除"/></td>
  </tr>
  {{/each}}
</table>
<br />
<br />
<br />
</div>