<h1>后台管理界面</h1>

<h2>卡片列表</h2>

<table>
  <tr>
    <th>卡包名字</th>
    <th>卡包价格</th>
    <th>卡的类型</th>
    <th>正确项</th>
    <th>真题表述</th>
    <th>蓝色项</th>
    <th>红色项</th>
    <th>前面的表述</th>
    <th>后面的表述</th>
    <th>分析</th>
    <th>卡的唯一ID</th>
  </tr>
  {{#each cards}}
  <tr>
    <td>{{packageName}}</td>
    <td>{{packagePrice}}</td>
    <td>{{cardType}}</td>
    <td>{{rightItem}}</td>
    <td>{{expression}}</td>
    <td>{{blueItem}}</td>
    <td>{{redItem}}</td>
    <td>{{firstLine}}</td>
    <td>{{lastLine}}</td>
    <td>{{analysis}}</td>
    <td>{{card_unique_id}}</td>	    	    	    	    
  </tr>
  {{/each}}
</table>

<a href="/new">新增卡片</a>
<a href="/delete">删除卡片</a>
<a href="/update">修改卡片</a>
<a href="/find">查询卡片</a>

<form ref="uploadForm" id="uploadForm" method="post" encType="multipart/form-data">
        <input type="file" name="cardFile" />
        <input type='submit' value='上传' />	
</form>