<div style="margin: 0px 30px;">

<h1>后台管理界面</h1>

<h2>卡片搜索</h2>

<form ref="searchForm" id="searchForm" method="get" action="/admin/index/search">
    <input type='text' name='searchKey' placeholder='输入一个关键词' style="width: 80%;"/>
    <br /><br />
    <input type='submit' value='搜索'>
</form>

<br />
<br />
<br />

<h2>卡片列表</h2>

<table>
  <p>注意，该表格中的正确项一栏</p>
  <p>真题表述为 1对2错</p>
  <p>知识点卡片为 1蓝对2红对</p>
  <tr>
    <th>正确项</th>
    <th>真题题干</th>
    <th>解析</th>
    <th>蓝色混淆项</th>
    <th>红色混淆项</th>
    <th>前面的表述（知识点卡片，混淆项前文字）</th>
    <th>后面的表述（知识点卡片，混淆项后文字）</th>
    <th>真题年份</th>
    <th>真题卷号</th>
    <th>真题题号</th>
    <th>更改</th>
    <th>删除</th>
  </tr>
  {{#each cards}}
  <tr>
    <td>{{rightItem}}</td>
    <td>{{expression}}</td>
    <td>{{analysis}}</td>    
    <td>{{blueItem}}</td>
    <td>{{redItem}}</td>
    <td>{{firstLine}}</td>
    <td>{{lastLine}}</td>
    <td>{{yearNumber}}</td>
    <td>{{reelNumber}}</td>
    <td>{{questionNumber}}</td>    
    <td><a href="/admin/index/update?card_unique_id={{card_unique_id}}">更改</a></td>
    <td><a href="/admin/index/delete?card_unique_id={{card_unique_id}}">删除</a></td>
  </tr>
  {{/each}}
</table>
<br />
<br />
<br />
</div>