<h1>后台管理界面</h1>

<h2>卡片搜索</h2>

<form ref="searchForm" id="searchForm" method="get" action="/admin/index/search">
    <input type='text' name='searchKey' placeholder='输入的关键词，仅限于红蓝题型非红蓝选项部分，或者真题题型的题面部分' style="width: 80%;"/>
    <br />
    <h3>必选</h3>
    <input type='radio' name='card_type' value='Exam'>真题
    <input type='radio' name='card_type' value='Normal'>红蓝题型
    <br />
    <h3>如果是红蓝题型，必须选择搜索的是红蓝选项前的前半段还是后半段，真题题型可以不选择</h3>
    <input type='radio' name='which_line' value='firstLine'>前半段表述
    <input type='radio' name='which_line' value='lastLine'>后半段表述
    <br />
    <br />
    <input type='submit' value='搜索'>
</form>

<br />
<br />
<br />

<h2>卡片列表</h2>

<table>
  <p>注意，该表格中的正确项一栏</p>
  <p>1 代表 真题表述是对的 或者 红蓝题蓝色项正确</p>
  <p>2 代表 真题表述是错的 或者 红蓝题红色项正确</p>
  <tr>
    <th>正确项</th>
    <th>真题题面（仅真题项有）</th>
    <th>蓝色项</th>
    <th>红色项</th>
    <th>前面的表述（红蓝题型，红蓝选项的前半段描述）</th>
    <th>后面的表述（红蓝题型，红蓝选项的后半段描述）</th>
    <th>分析</th>
    <th>真题年份</th>
    <th>真题卷号</th>
    <th>真题题目号</th>
    <th>更改按钮</th>
  </tr>
  {{#each cards}}
  <tr>
    <td>{{rightItem}}</td>
    <td>{{expression}}</td>
    <td>{{blueItem}}</td>
    <td>{{redItem}}</td>
    <td>{{firstLine}}</td>
    <td>{{lastLine}}</td>
    <td>{{analysis}}</td>
    <td>{{yearNumber}}</td>
    <td>{{reelNumber}}</td>
    <td>{{questionNumber}}</td>    
    <td><a href="/admin/index/update?card_unique_id={{card_unique_id}}">更改</a></td>
  </tr>
  {{/each}}
</table>
<br />
<br />
<br />
<br />